/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}

code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre, pre code {
    font-size: 13px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}

pre .regexp {
    color: #009926;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: #303030;
}

.banner-contain-to-grid {
	padding-top: 2em;
	padding-bottom: 2em;
	background: #f2f2f2;
	border-bottom: 1px solid #c9c9c9;
}
.content-contain-to-grid {
	padding-top: 2em;
	padding-bottom: 2em;
	background: #fff;
}
.feature-content-contain-to-grid {
	padding-top: 2em;
	padding-bottom: 2em;
	background: #BFE0FF;
	border-top: 1px solid #546E86;
}

.hr-solid {
	margin-bottom: 2em;
	padding-top: 1em;
	border-bottom: 1px solid #c9c9c9;
	clear: both;
}
.hr-dotted {
	margin-bottom: 2em;
	padding-top: 1em;
	border-bottom: 1px dotted #c9c9c9;
	clear: both;
}
.hr-dashed {
	margin-bottom: 2em;
	padding-top: 1em;
	border-bottom: 1px dashed #c9c9c9;
	clear: both;
}

.img-center {
	margin: 0 auto;
	display: block;
}
.spacer-small {
	height: 10px;	
}
.spacer-medium {
	height: 40px;	
}
.spacer-large {
	height: 80px;	
}

#nav-contain-to-grid,
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar.expanded .title-area {
	background: #3b6aa0;
}
.top-bar-section ul li:hover:not(.has-form)>a,
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section ul li.active > a:hover,
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background-color: #234060;
    background: #234060;
}
.top-bar.expanded .toggle-topbar a {
	color: #fff;	
}
.top-bar.expanded .toggle-topbar a span::after {
	box-shadow: 0 0px 0 1px #eee,0 7px 0 1px #eee,0 14px 0 1px #eee;
}
.top-bar-section>ul>.divider, 
.top-bar-section>ul>[role="separator"] {
	border-right: 1px solid #325986;
}
.top-bar-section .divider, .top-bar-section [role="separator"] {
	border-top: 1px solid #325986;
}

.banner-text {
	padding-top: 1em;
}

.header-callout {
	color: #3b6aa0;	
}
.feature-content-contain-to-grid h1,
.feature-content-contain-to-grid h2,
.feature-content-contain-to-grid h3,
.feature-content-contain-to-grid h4,
.feature-content-contain-to-grid h5 {
	color: #344553;	
}

.feature-content-contain-to-grid .hr-solid,
.feature-content-contain-to-grid .hr-dashed,
.feature-content-contain-to-grid .hr-dotted{
	border-color: #546E86;	
}

.panel.callout.sidebar {
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 10px solid #344553;
}


/* TNT OVERRIDES */
.tnt #nav-contain-to-grid,
.tnt .top-bar,
.tnt .top-bar-section ul li,
.tnt .top-bar-section li:not(.has-form) a:not(.button),
.tnt .top-bar-section li:not(.has-form) a:not(.button),
.tnt .top-bar-section li.active:not(.has-form) a:not(.button),
.tnt .top-bar.expanded .title-area {
	background: #9261ad;	
}
.tnt .top-bar-section ul li:hover:not(.has-form)>a,
.tnt .top-bar-section li:not(.has-form) a:not(.button):hover,
.tnt .top-bar-section ul li.active > a:hover,
.tnt .top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background-color: #875AA0;
    background: #875AA0;
}
.tnt .top-bar-section>ul>.divider, 
.tnt .top-bar-section>ul>[role="separator"] {
	border-right: 1px solid #724B86;
}
.tnt .top-bar-section .divider, .top-bar-section [role="separator"] {
	border-top: 1px solid #724B86;
}
.tnt .button {
	color: #fff;
	background: #9261ad;
}
.tnt .theme {
	color: #9261ad;
}
img.tnt {
	padding: 4em 1em;
	background: #9261ad;
}
.tnt .feature-content-contain-to-grid h1,
.tnt .feature-content-contain-to-grid h2,
.tnt .feature-content-contain-to-grid h3,
.tnt .feature-content-contain-to-grid h4,
.tnt .feature-content-contain-to-grid h5 {
	color: #fff;	
}

.tnt .feature-content-contain-to-grid .hr-solid,
.tnt .feature-content-contain-to-grid .hr-dashed,
.tnt .feature-content-contain-to-grid .hr-dotted{
	border-color: #fff;	
}

.tnt .progress .meter {
	background: #9261ad;
}


#footer-contain-to-grid {
	background: #303030;
}
footer,
footer a {
	color: #fff;	
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.none {
	display: none;	
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
